.card {
  display: inline-block;
  width: 59px;
  height: 85px;
  margin: 0 1%;
  margin-bottom: 10px;
  position: relative;
}

.card__handler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card__flipper {
  position: relative;
  height: 100%;
  perspective: 1000px;
}

.card__flipper_hidden {
  display: none;
}

.card__front-side,
.card__back-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transition: all 0.2s linear;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-transition: all 0.2s linear;
  transform-style: preserve-3d;
  border-bottom: 1px solid transparent;
}

.card__front-side {
  transform: rotateY(180deg);
}

.card__front-side_flip {
  transform: rotateY(0deg);
}

.card__back-side {
  z-index: 2;
  transform: rotateY(0deg);
}

.card__back-side_flip {
  transform: rotateY(180deg);
}

.card__svg {
  width: 100%;
  height: 100%;
}

.card__svg-use {
  transform: scale(0.35);
  width: 59px;
  height: 85px;
}
