.cards {
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding-top: 30px;
}

.cards__field {

}

.cards__info {
  padding-left: 50px;
}

.cards__score {
  font-size: 20px;
  margin-bottom: 20px;
}

.cards__score-value {

}

.cards__finish {
  margin-top: 40px;
}

.cards__finish-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.cards__start-btn {
  display: inline-block;
  background: #32941a;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
